{% extends 'base.html.twig' %}

{% block title %}{{role}} d'élève{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h1 class="mb-4">{{role}} un élève</h1>

                        {{ form_start(form) }}
                            
                            {{ form_widget(form) }}
                            
                        <button class="btn btn-primary" type="submit">{{ role }} </button>
                        <a href="{{path('liste_Students')}}" type="button" class="btn btn-primary">retour</a>

                        {{ form_end(form) }}
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </div>
{% endblock %}
